<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5d6d12f0-0540-4dac-beb9-7281a24fc0f7" Publisher="CN=Gareth" Version="1.0.0.0" />
  <Properties>
    <DisplayName>YouAreTheVillain.MonoWindows8</DisplayName>
    <PublisherDisplayName>Gareth</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="YouAreTheVillain.MonoWindows8.App">
      <VisualElements DisplayName="YouAreTheVillain.MonoWindows8" Logo="Assets\Logo.png" SmallLogo="Assets\smalllogo.png" Description="YouAreTheVillain.MonoWindows8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>